/***************************
css Général
***************************/

/*media queries */
@media all and (min-width: 1200px){
	body .container.top-container {
    	width: 100% !important;
    	max-width: 100% !important;
	}
	
	.container {
		max-width: 1280px !important;
	}
}

@media all and (max-width: 991px){
	
	#navbarprincipal > #nav{
		display: flex;
	    flex-direction: column;
	    justify-content: flex-start;
	    align-items: center;
	}
	
	span.nav-gest {
	    display: block;
	    text-align: center;
	    margin-bottom:20px;
	}
	
		
}

@media all and (min-width: 992px){
	.dropdown-content {
	  display: none;
	  position: absolute;
	  background-color: white;
	  min-width: 160px;
	  box-shadow: 0px -1px 10px -2px rgba(0,0,0,.2);
	  z-index: 1;
	  text-align: left;
	}
}

@media all and (min-width: 576px){
	.navbar-expand-sm{
		justify-content: space-between;
	}
}

@media all and (min-width: 992px){
	.inner-ouverture > div:not(:last-child){
		margin-right: 15px;
	}
}

@media all and (min-width : 768px){
	.params-item.creneaux {
	    display: flex;
	    flex-direction: row;
	    justify-content: flex-start;
	    align-items: center;
	}
	
	
	.inner-creneau.flex-row-center-center > div:not(:last-child) {
	    border-right: 1px solid black;
	}
}

@media all and (max-width: 767px){
	
	.dropdown > a {
	    font-weight: bold;
	    text-decoration: underline;
	    pointer-events: none;
	}

	.content > .d-flex > .ui-datepicker{
	    display: flex !important;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
    }
    
    .dpick .ui-datepicker .ui-datepicker-group {
	    width: 90%;
	}
    
    #formResa .inner-form{
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
    }
    
    .inner-form > .inner-form-block{
    	width: 100%;
    }
    
    .params-item > .inner-creneau{
    	display: flex;
    	flex-direction: column;
    	justify-content: center;
    	align-items: center;
    }
    
    	.params-item > .inner-creneau > div:not(:last-child){
    	border-bottom: 1px solid black;
    	margin-bottom: 1.5rem;
    }
    
    .inner-resume {
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	}
	
	.inner-resume > div {
	    margin-bottom: 20px;
	}
}

@media all and (max-width: 576px){
	.ouverture-block .inner-ouverture{
		flex-direction: column !important;
		align-items: flex-start !important;
	}	
	
	.ouverture-block .inner-ouverture > div:first-child{
		margin-bottom : 5px;
	}
}



/* fonts */

@font-face {
	font-family: 'futura-std';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FuturaStdBook.woff');
}

@font-face {
	font-family: 'futura-heavy';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FuturaStdHeavy.woff');
}

@font-face {
	font-family: 'futura-lo';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FuturaStdLightOblique.woff');
}

@font-face {
	font-family: 'futura-stbookob';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/FuturaStdBookOblique.woff');
}

@font-face {
	font-family:'cubano';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Cubano.ttf');
}

h2.form-heading{
	font-family: 'futura-lo';
    font-size: 4rem;
    text-align: center;
    color: #064e56;
    padding: 20px;
    margin-bottom: 30px;
}

h2.tab{
    font-family: 'futura-lo';
    font-size: 2rem;
    text-decoration: underline;
    text-align: center;
    color: #064e56;
    padding: 20px;
    width: 100%;
    background-color: white;
    margin-bottom: 0;
}

#formResa label, .inner-creneau label {
    font-family: futura-stbookob;
    font-size: 1rem;
    color: #064e56;
}

h4{
	font-family: 'futura-lo';
    font-size: 1rem;
    color: #064e56;
}

p.common-text, .inner-ouverture label{
	font-family: 'futura-std';
	font-size: 1rem;
	color: #2a3238;
}


/* utils */

.flex-row-start-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.flex-row-center-center{
	display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex-col-center, .form-resa > .mt40{
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mt40{
	margin-top: 2.5rem;
}

.mb40{
	margin-bottom: 2.5rem;
}

.ml40{
	margin-left: 2.5rem;
}

.m20{
	padding-top: 1.25rem;
	padding-bottom: 1.25rem;
}


/*General */

body {
    background: rgb(0,169,140);
	background: linear-gradient(60deg, rgba(0,169,140,1) 0%, rgba(143,197,132,1) 70%);
}

.error-field{
	color: red;
	font-weight: bold;
}

.error{
	text-align: center;
	color: red;
}


.dpick .ui-datepicker-calendar > thead > tr > th > span, .dpick .ui-datepicker-header, .datepick .datepick-nav{
	font-family: 'futura-std';
	font-size: 1rem;
	color: #1d1d1b;
}




.content{
	background-color: rgba(255,255,255,.7);
	margin-top: 0;
	padding-bottom: 2rem;
}

.content-title{
	padding: 0;
	margin-top: 30px;
    background-color: white;
    text-align: center;
}

.content-title > p{
	margin-bottom: 0;
}

.dpick{
	margin-top: 30px;
}

.dpick > div{
	width: 45em !important;
}

.dpick .ui-datepicker-header{
	background-color: #2a3238;
	text-transform: uppercase;
}

.dpick .ui-datepicker-title > select {
    text-transform: uppercase;
}

.dpick .ui-datepicker-title, .datepick .datepick-nav a {
    color: white;
}

.dpick .ui-datepicker-next,.dpick .ui-datepicker-prev {
    background-color: white;
}

.dpick .ui-datepicker-next:hover, .dpick .ui-datepicker-prev:hover {
    cursor: pointer;
}

.dpick .ui-datepicker-calendar > thead > tr > th{
	margin: 0 2px;
}

.dpick .ui-datepicker td{
	padding: 5px;
}

.dpick a.ui-state-default {
    font-family: 'futura-std';
    color: #706f6f;
    font-size: 1rem;
    text-align: left;
    background-color: white;
}

.dpick a.ui-state-hover, .dpick a.ui-state-active{
	background-color: #00a98c;
	color: white;
	border: none;
}

input[type=checkbox]{
	width: 25px;
	height: 25px;
}

button.form-button{
	padding: 0.7rem 5rem;
	font-family: 'futura-heavy';
	font-size: 1.3rem;
	color: white;
	text-transform: uppercase;
	background-color: #00a98c;
	border: none;
	margin-bottom: 30px;
	margin-top: 30px;
}

 a.form-button{
 	padding: 1em 2rem;
	font-family: 'futura-heavy';
	font-size: 1.3rem;
	color: white;
	text-transform: uppercase;
	background-color: #00a98c;
	border: none;
	margin-bottom: 1rem;
	margin-top: 1rem;
 }
 
 

button.form-button:hover, a.form-button:hover {
   box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,.4);
   color: #00a98c;
   background-color: white;
   text-decoration: none;
}


/**************************
css header
**************************/
#nav{
	display: flex;
	flex-direction: row;
}

#navbarprincipal{
	justify-content: space-between;
	text-align: center;
}

.navigation{
	background-color: white;
}

.top-container{
	min-height: 300px;
    background: url('../img/FOND02_2500.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-container > h1{
	font-family: 'cubano';
	color: white;
	font-size: 3.8rem;
    padding: 0.75rem 2rem;
}

.nav-tabs > li{
	font-size: 1.25rem;
}

#nav .nav-item, #nav .nav-item > a, .nav-gest > a, a.dropdown-item.nav-link{
	font-family :'futura-std';
	font-size: 1rem;
    text-transform: uppercase;
    color: #00a98c;
    background-color: white;
}

#nav > li{
	padding: 0;
    position: relative;
    margin: 0.75rem 0.5rem; 
}



#nav li.active > a, #nav li.active > .dropdown > a {
   font-family: 'futura-heavy';
   font-size: 1.1rem;
	border-bottom: 2px solid #00a98c;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: #007bff;
  font-size: 16px;
  border: none;
}


.dropdown {
  position: relative;
  display: inline-block;
}




/* Links inside the dropdown */.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {
    background-color: #00a98c;
    color: white;
}

.dropdown:hover .dropdown-content {display: block;}


.dropdown:hover .dropbtn {background-color: white;}

#logo{
	max-width: 80px;
}

.navbar-toggler {
  border-color: #00a98c;
} 

button.navbar-toggler.navbar-toggle {
    height: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid #00a98c;
}

span.navbar-icon {
    width: 22px;
    height: 2px;
    background-color: #00a98c;
    display: block;
}

.mb-green{
	fill: #00a98c;
}

/******************************
css top container
******************************/

.top-containers

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input {
    margin-top: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin button {
    margin-top: 10px;
}

.has-error {
    color: red
}


/******************************
css login
******************************/
#logobb{
	max-width: 300px;
}

.form-signin{
	max-width: 350px;
    text-align: center;
    display: inline-block;
    margin-top: 10%;
}

.form-bt{
	border: 1px solid white;
}

.login-bt:hover {
    background-color: white;
    color: #00a98c;
}

.container-login{
	text-align: center;
	height: 100vh;
}



/******************************
css home
******************************/
#resasTablesMidi, #resasTablesSoir{
	border-bottom: 1px dashed black;
}

.hidden-creneau-midi2, .hidden-creneau-midi3, .hidden-creneau-soir2, .hidden-creneau-soir3{
	display: none;
}

#container-midi, #container-soir{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.fermeture-accueil{
	margin-left: 30px;
    color: red;
    font-size: 22px;
    margin-bottom: 0.5rem;
}

#homedatepicker{
	width: 100%;
}

.inner-resume > div {
    padding: 20px;
}

/************************************
CSS réservation ajout
************************************/

.erreur-champ{
    background-color: rgba(255,0,0,.1);
}

.erreur-champ::before{
    content: "";
    width: 20px;
    height: 20px;
    background: url("../img/war.png") no-repeat center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: -25px;
    transform: translatey(-50%);

}

.message-validation {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: #00a98c;
    padding: 20px;
    margin: 20px;
    border: 1px solid #00a98c !important;
}

.message-erreur {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
    color: red;
    padding: 20px;
    margin: 20px;
    border: 1px solid red !important;
}

.inner-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
}

.inner-form-block {
    width: 50%;
    padding: 15px;
}

/*.inner-form-block > div input:not([type='checkbox']), .inner-form-block > div textarea, .inner-form-block > div select, #parametresDto select, #parametresDto input:not([type='checkbox']) {
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: -2px 5px 4px 0px rgba(0,0,0,.2);
    margin-top: 30px;
}*/

form input:not([type='checkbox']), form textarea, form select{
    width: 100%;
    height: 40px;
    border: none;
    box-shadow: -2px 5px 4px 0px rgba(0,0,0,.2);
    margin-top: 30px;
}

#parametresDto input:not([type='checkbox']){
	margin-top: 5px;
}

/*.inner-form-block > div input:not([type='checkbox'])::placeholder, .inner-form-block > div textarea::placeholder, .inner-form-block > div select, #parametresDto select, #parametresDto input:not([type='checkbox'])  {
    font-family: 'futura-lo';
    font-size: 1.1rem;
    color: #9d9d9c;
    padding-left: 30px;
}*/

form input:not([type='checkbox'])::placeholder, form textarea::placeholder, form select  {
    font-family: 'futura-lo';
    font-size: 1.1rem;
    color: #9d9d9c;
    padding-left: 30px;
}

.check{
	margin-left: 30px;
    margin-top: 15px;
}

.check > label{
	margin-bottom: 0;
    margin-left: 15px;
}

select{
	background-color: white;
    margin-top: 37px;
}



/************************************
CSS réservations consultation
************************************/
p.date-resa {
    font-family: 'cubano';
    color: white;
    font-size: 2rem;
    text-shadow: 0 2px 5px rgba(0,0,0,.4);
}

.table-block > h3, #parametresDto > h3 {
    background-color: #2a3238;
    color: white;
    text-align: left !important;
    padding: 10px 30px;
    margin-bottom: 0;
}

.resa-table {
    background-color: white;
    overflow-x: auto;
    display: block;
}

.resa-table > thead{
    border: 2px solid #dee2e6;
}

.outter-form {
    padding: 2rem;
    background-color: white;
    overflow: hidden;
}

#infosParametres .outter-form{
	padding: 1rem;
}

.resa-table > thead > tr > th {
    position: relative;
}
.resa-table > thead > tr > th:not(:last-child):after {
    content: "";
    width: 100%;
    height: 50%;
    display: block;
    position: absolute;
    border-right: 2px solid #dee2e6;
    top: 28%;
    left: 0;
}

.resa-table tbody > tr > td {
    text-align: center;
}

.table-block, .ui-datepicker {
    box-shadow: -2px 2px 5px rgba(0,0,0,.4);
}

.info-pictos {
    align-items: flex-start;
}

.picto img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

td.est-habitue{
	position: relative;
}

td.est-habitue:after {
    content: "";
    height: 30px;
    width: 30px;
    position: absolute;
    display: block;
    background: url(../img/couronne.svg) center/contain no-repeat;
    top: 0;
    right: calc(100% - 30px);
    transform: rotate(-45deg);
}

td > .alert {
    background-color: transparent;
    padding: 10px;
    border: 1px solid black;
}

td > .alert img {
    width: 20px;
    height: auto;
}

.update-reservation {
    margin-right: 10px;
}

/************************************
CSS réservations suppression
************************************/
#dialog-confirm{
	display: none;
}


/************************************
CSS set paramètres
************************************/
.params-item.creneaux{
	margin-bottom: 2rem;
}

.inner-creneau{
    width:100%;
}

.inner-creneau.flex-row-center-center > div{
    padding: 20px;
}

div#params-premiere-connexion {
    padding: 0;
}

#params-premiere-connexion > h2{
	margin: 0;
}

#parametresDto select{
	background-color: white;
    margin-top: 0;
    margin-bottom: 2rem;
}

#parametresDto input{
	margin-top: 0;
}



.ouverture-hebdo input[type=checkbox] {
    width: 20px;
    height: 20px;
}

.form-button-block {
	text-align: center;
}

.semaine-param, .we-params {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}

.parent-creneau .erreurParam{
    border: 3px solid red !important;
}

.ouverture-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ouverture-block > h4 {
    font-family: 'futura-heavy';
    font-size: 1.2rem;
    color: #064e56;
}

.inner-ouverture label{
	margin-bottom: 0;
    margin-left: 5px;
}

/************************************
CSS set paramètres-particuliers
************************************/
#multi, #plage-dates{
	display: none;
}

.infos-param-pp{
	text-align:center;
	padding: 2rem 1rem;
}


#dates-errors{
	display: none;
}

td.red-highlight a{
	background-color: rgba(255,0,0,.6) !important;
}

#infosParametres{
	display: none;
}

#red-square{
	width: 20px;
	height: 20px;
	background-color: red;
	display: inline-block;
	margin-right: 15px;
}

#action-buttons > a:last-child{
	margin-left: 2rem;
}

.datepick{
	margin: auto;
}

.inner-ouverture-check.flex-col-center {
    min-width: 50px;
    margin: 0 1rem 1rem;
}


/************************************
CSS rapports
************************************/

#form-generation-rapports-jour, #form-generation-rapports-plage{
	text-align: center;
}

#form-generation-rapports-jour input[type='submit'], #form-generation-rapports-plage input[type='submit']{
	width: auto;
	height: auto;
	margin: 20px auto;
	padding: 10px 40px;
}

.datepick-month > table{
	margin-top: 20px;
}


